/* Custom Properties */
:root {
    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Lato', sans-serif;

    --primario: #1073BA;
    --secundario: #00DA55;
    --grid: #3B3b3b;
    --blanco: #FFF;
    --negro: #1F1E1E;
    --grisClaro: #E1E1E1;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*  rems */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
}

/* Globales */